@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

:root {
  --background: #07060F;

  --primary-white: #F0F0F0;
  --primary-blue: #00EEFF;
  --primary-grey: #B2B2B2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--primary-white);
  --font-roboto: "Roboto", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--background);
  color: var(--primary-white);
  font-family: "Roboto", sans-serif;
}
